<div>
<form role="form">
    <div class="form-group">
        <label for="searchMunicipality__query">Name</label>
        <input type="text" class="form-control" id="searchMunicipality__query"
               ng-model="query"
               placeholder="ex. 8001"
               uib-typeahead="m.zip_code + ' ' + m.name + ' (' + m.id + ')' for m in vm.lookupMunicipality($viewValue)"
               typeahead-loading="loadingLocations"
               typeahead-no-results="noResults"
               typeahead-on-select="vm.selected($item)" />
        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noResults">
          <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
        <div ng-if="municipality !== null">
            <a href="#/municipalities/{{municipality.id}}/mailings/new" class="btn btn-raised">New Mailing</a>
            <a href="#/municipalities/{{municipality.id}}" class="btn btn-raised">Edit Municipality</a>
        </div>
    </div>
</form>
</div>
