        <div class="form-group">
          <label for="createMunicipality__name">Name</label>
          <input type="text" class="form-control" id="createMunicipality__name" ng-model="municipality.name" placeholder="ex. Z&uuml;rich" />
        </div>

        <div class="form-group">
          <label for="createMunicipality__zip_code">ZIP Code</label>
          <input type="text" class="form-control" id="createMunicipality__zip_code" ng-model="municipality.zip_code" placeholder="8001" />
        </div>

        <div class="form-group">
          <label for="createMunicipality__bfs_number">BFS Number</label>
          <input type="text" class="form-control" id="createMunicipality__bfs_number" ng-model="municipality.bfs_number" placeholder="..." />
        </div>

        <div class="form-group">
          <label for="createMunicipality__address">Address</label>
          <textarea type="text" class="form-control" rows="4" id="createMunicipality__address" ng-model="municipality.address" placeholder="Stimmregisterzentrale, Foostrasse 4, Postfach"></textarea>
        </div>

        <div class="form-group">
          <label for="createMunicipality__phone_number">Phone number</label>
          <input type="text" class="form-control" id="createMunicipality__phone_number" ng-model="municipality.phone_number" placeholder="044 444 44 44" />
        </div>
        
        <div class="form-group">
          <label for="createMunicipality__canton">Canton</label>
          <input type="text" class="form-control" id="createMunicipality__canton" ng-model="municipality.canton" placeholder="..." />
        </div>

        <div class="form-group">
          <label for="createMunicipality__language">Language</label>
          <select class="form-control" id="createMunicipality__language" ng-model="municipality.language" placeholder="..." >
            <option>de</option>
            <option>fr</option>
            <option>it</option>
          </select>
        </div>

        <div class="form-group">
          <label for="createMunicipality__email">E-Mail</label>
          <input type="text" class="form-control" id="createMunicipality__email" ng-model="municipality.email" placeholder="..." />
        </div>

        <div class="form-group">
          <label for="createMunicipality__website">Website</label>
          <input type="text" class="form-control" id="createMunicipality__website" ng-model="municipality.website" placeholder="..." />
        </div>

        <div class="form-group">
          <label for="createMunicipality__main_municipality">Main municipality</label>
          <input type="checkbox" class="form-control" id="createMunicipality__main_municipality" ng-model="municipality.main_municipality" />
        </div>

        <div class="form-group">
          <label for="createMunicipality__verified">Verified</label>
          <input type="checkbox" class="form-control" id="createMunicipality__verified" ng-model="municipality.verified" />
        </div>

        <div class="form-group">
          <label for="createMunicipality__comment">Comment</label>
          <textarea type="text" class="form-control" id="createMunicipality__comment" ng-model="municipality.comment" placeholder="..." />
        </div>
