        <div class="form-group">
          <label for="createMunicipality__name">Name</label>
          <input type="text" class="form-control" id="createMunicipality__name" ng-model="municipality.name" placeholder="ex. Z&uuml;rich" />
        </div>

        <div class="form-group">
          <label for="createMunicipality__zip_code">ZIP Code</label>
          <input type="text" class="form-control" id="createMunicipality__zip_code" ng-model="municipality.zip_code" placeholder="8001" />
        </div>

        <div class="form-group">
          <label for="createMunicipality__address">Address</label>
          <textarea type="text" class="form-control" id="createMunicipality__address" ng-model="municipality.address" placeholder="Stimmregisterzentrale, Foostrasse 4, Postfach" />
        </div>

        <div class="form-group">
          <label for="createMunicipality__phone_number">Phone number</label>
          <input type="text" class="form-control" id="createMunicipality__phone_number" ng-model="municipality.phone_number" placeholder="044 444 44 44" />
        </div>
        
        <div class="form-group">
          <label for="createMunicipality__comment">Comment</label>
          <textarea type="text" class="form-control" id="createMunicipality__comment" ng-model="municipality.comment" placeholder="Stimmregisterzentrale, Foostrasse 4, Postfach" />
        </div>
        
