<form role="form">
    <div class="form-group">
        <label for="searchMunicipality__query">Name</label>
        <input type="search"
               class="form-control"
               id="searchMunicipality__query"
               autocomplete="off"
               ng-model="query"
               placeholder="ex. 8001"
               uib-typeahead="m.zip_code + ' ' + m.name for m in vm.lookupMunicipality($viewValue)"
               typeahead-loading="loadingLocations"
               typeahead-no-results="noResults"
               typeahead-on-select="vm.selected($item)" />
        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noResults">
          <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>
        <div ng-if="municipality !== null">
            <a href="#/municipalities/{{municipality.id}}/mailings/new" class="btn btn-raised">New Mailing</a>
            <a href="#/municipalities/{{selected.id}}" class="btn btn-raised">Edit Municipality</a>
        </div>
    </div>
</form>
<div ng-if="selected !== null" style="float: left; padding-right: 10px;">
    <h3>Selected Municipality</h3>
    <table>
        <tr><td><b>PLZ</b></td><td>{{selected.zip_code}}</td></tr>
        <tr><td><b>Name</b></td><td>{{selected.name}}</td></tr>
        <tr><td><b>Canton</b></td><td>{{selected.canton}}</td></tr>
        <tr><td><b>Address</b></td><td style="white-space:pre-wrap;">{{selected.address}}</td></tr>
        <tr><td><b>Phone</b></td><td><a href="tel:{{selected.phone_number}}">{{selected.phone_number}}</a></td></tr>
        <tr><td><b>E-Mail</b></td><td><a href="mailto:{{selected.email}}">{{selected.email}}</a></td></tr>
        <tr><td><b>Website</b></td><td><a href="{{selected.website}}">{{selected.website}}</a></td></tr>
        <tr><td><b>Validated</b></td><td>{{selected.validated ? 'yes' : 'no'}}</td></tr>
    </table>
</div>
<div ng-if="municipality !== null" style="float: left; padding-right: 10px;">
    <h3>Primary Municipality</h3>
    <table>
        <tr><td><b>PLZ</b></td><td>{{municipality.zip_code}}</td></tr>
        <tr><td><b>Name</b></td><td>{{municipality.name}}</td></tr>
        <tr><td><b>Canton</b></td><td>{{municipality.canton}}</td></tr>
        <tr><td><b>Address</b></td><td style="white-space: pre-wrap;">{{municipality.address}}</td></tr>
        <tr><td><b>Phone</b></td><td><a href="tel:{{municipality.phone_number}}">{{municipality.phone_number}}</a></td></tr>
        <tr><td><b>E-Mail</b></td><td><a href="mailto:{{municipality.email}}">{{municipality.email}}</a></td></tr>
        <tr><td><b>Website</b></td><td><a href="{{municipality.website}}">{{municipality.website}}</a></td></tr>
        <tr><td><b>Validated</b></td><td>{{municipality.validated ? 'yes' : 'no'}}</td></tr>
    </table>
</div>
<div ng-if="related !== null" style="float: left; padding-right: 10px;">
    <h3>Related Municipalities</h3>
    <div ng-bind-html="related_names"></div>
</div>