<h1>Sent but not yet received mailings</h1>
<table>
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Sent on</th>
        <th>Received on</th>
        <th>State</th>
        <th># Signatures</th>
        <th>Valid Signatures</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="m in sent_mailings">
        <td>{{m.from_number}}</td>
        <td>{{m.to_number}}</td>
        <td>{{m.sent_on | date}}</td>
        <td>{{m.received_on | date}}</td>
        <td>{{m.state}}</td>
        <td>{{m.number_of_signatures}}</td>
        <td>{{m.valid_signatures}}</td>
        <td><a href="#/municipalities/{{m.municipality}}/reminder">Remind Municipality</a></td>
    </tr>
</table>

<h1>Mailings already called about</h1>
<table>
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Sent on</th>
        <th>Received on</th>
        <th>State</th>
        <th># Signatures</th>
        <th>Valid Signatures</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="m in called_mailings">
        <td>{{m.from_number}}</td>
        <td>{{m.to_number}}</td>
        <td>{{m.sent_on | date}}</td>
        <td>{{m.received_on | date}}</td>
        <td>{{m.state}}</td>
        <td>{{m.number_of_signatures}}</td>
        <td>{{m.valid_signatures}}</td>
        <td><a href="#/municipalities/{{m.municipality}}/mailings/{{m.pk}}">Edit Mailing</a></td>
    </tr>
</table>